<div id="TopNavBig">
  <%= link_to '<i class="icon-home"></i> Return To Dashboard'.html_safe, sessions_path %>
</div>
<div id="Product" >
  <h1> Create a new Product </h1>
  <%= render 'form' %>
</div>